body {
  background-color: #cdcdcd;
  font-family: 'Open Sans', sans-serif;
}

h2, p, .readme-wrapper {
  text-align: center;
}

a {
  text-decoration: none;
  color: firebrick;
}

a:hover {
  cursor: pointer;
  font-weight: bold;
  color: #f90;
}

span {
  color: #c90;
  font-weight: 700;
}

/**************************************************************
************ box styling ***********************
***************************************************************/

.boxes {
  width: 30em;
  border: 2px solid #333;
  border-radius: 10px;
  margin: 2.5em;
  padding: 2em;
  display: block;
}

#box1 {
  background-color: #330;
}

#box2 {
  background-color: #363;
}

#box3 {
  background-color: #366;
}

#box4 {
  background-color: #399
}

.topImg {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: skyblue;
  position: relative;
  top: 50px;
  left: 50px;
}

h1 {
  color: #364336;
}

.original {
  color: #a045d1;
}

.additional {
  color: #992211;
}

#show1 {
  color: #333;
}

#show2 {
  color: #444;
}

#show3 {
  color: #555;
}

#show4 {
  color: #666;
}

#show5 {
  color: #777;
}

ul {
  color: #661122;
}

.star {
  color: yellow;
}

#wars {
  color: orange;
}

.listWrapper {
  border: 2px solid black;
}
